:host {
  display: inline-block;
  height: 100%;
  width: 100%;

  ro-segment-map {
    height: 100%;
    width: 100%;
    position: relative;
  }

  ro-segment-map::ng-deep {
    .selected-marker {
      background-color: brown;
    }
  }
}