registry=https://registry.npmjs.org/
@rosen:registry=https://pkgs.dev.azure.com/rosen-nxt/EPL/_packaging/share-ui/npm/registry/
//pkgs.dev.azure.com/rosen-nxt/EPL/_packaging/share-ui/npm/registry/:_auth=cm9zZW4tbnh0Om9uYnV3ZmF6ang2eTRmbmpmbDdtdmNoa2k1YWZ6aHB1MnlxZG5xNm81YmVkYWQ1aGo0ZWE=
always-auth=true
